* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a5599;
    opacity: 0.9;
    height: 150px;
}

div#logo img {
    position: absolute;
    width: 22.2%;
    display: flex;
    margin: -60px 0px 0px -100px;
}

div li {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    align-items: center;
    padding: 3px;
    margin: 5px;
    letter-spacing: 3px;
    transition: background-color 1s ease;
    border-radius: 60%;
}

div li:hover {
    background-color: #cfc8c8;
    opacity: 1;
    border-radius: 60%;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15pt bolder;
}

div li a:hover {
    color: black;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15pt bolder;
}

body {
    background-color: #ffffff;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 13pt;
    width: 1200px;
    margin: auto;
}

section#corpo {
    font-family: 'Arimo', sans-serif;
    background-color: #0692ca;
    width:1200px;
    height:400px;
    padding: 5px;
    text-align: center;
}

#formulário {
    width: 500px;
    text-align: center;
    margin: 20px auto;
    align-items: center;
    border: none;
}

#contato {
    text-align: center;
}

#mensagem {
    text-align: center;
    align-items: center;
    margin: auto;
}

#enviar {
    background-color: #1a5599;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

#footer {
    font-family: 'Arimo', sans-serif;
    clear: both;
    background-color: #1a5599;
    background-size: cover;
    height: 100px;
    text-align: center;
}

footer#footer p {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px
}